<!DOCTYPE html>
<html>
    <head>
        <title>{{{title}}}</title>
    </head>
    <body>
        <header>
            <p>This is going to be the header of the body</p>
        </header>
        <nav>
            <p>This is going to be the navigation content</p> 
        </nav>
        <main>
            {{{body}}}
        <main>
        <footer>
            <p>{{Error}}<p><p>{{Message}}</p>
            <p>This is going to be the footer of the application</p>
        </footer>
    </body>
</html>