<!doctype html>
<html lang ='en'>
    <head>
        <meta charset = 'utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>T.N.F.T. Police App</title>
        <meta name ='description' content = 'This is the Police APP'>
        <meta name ='author' content= ''>
        <link rel = 'stylesheet' href = 'https://www.w3schools.com/w3css/4/w3.css'>
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.css" />
        <link rel='stylesheet' href='css/Style.css'>
      
    </head>

    <body>
        <!--Page header-->
        <div class = 'header'>
            <b>T.N.F.T. Police App</b>
        </div>
        <!--Making a floating menu bar-->

        <div class = 'mynavbar' id = 'navbar'>
            <a href = '/'>Home</a>
            <a href = '/Officers'>Officers</a>
            <a href = '/Reports'>Reports</a>
            <a href = '/Fines'>Fines</a> 
            <a href = '/ReportFines'>ReportFines</a>  
            <a href = '/Criminals'>Criminals</a>  
        </div>
        <div class = 'content'>
            <div class = 'pagecontent'>
               {{{body}}}
            </div>
        </div>
        <!--script links-->
        <script src='js/Script.js'></script>
    </body>
</html>
