<h1 class = 'pheadercss'><b>This is how you compare two breeds</b></h1>  
                    
                    <!-- image of breed using temp image-->
<div id = 'breedPicture'style ='text-align:center;'>
    <img src = 'tutorialpics/compare.png'>
</div> 
<p style = 'text-align: center;'>
    To compare two dog breeds at the address of the server add to the url:
    <br /> 
    <code>
    /compare?dog1=breadpagename1&#38;dog2=breadpagename2
    </code>
    <br />
    This will cause two breeds and data about two breeds to be displayed on one page.
</p>
<br />
<hr />
<h1 class = 'pheadercss'><b>This is how you return to the main page</b></h1>  
                    
                    <!-- image of breed using temp image-->
<div id = 'breedPicture'style ='text-align:center;'>
    <img src = 'tutorialpics/goBack.png' width="800" height="600">
</div> 
<p style = 'text-align: center;' >
    Click on the button labeled:</code> Return Home </code>
</p>
<br />
<hr />
<h1 class = 'pheadercss'><b>This is how you Search for a Dog Breed</b></h1>  
                    
                    <!-- image of breed using temp image-->
<div id = 'breedPicture'style ='text-align:center;'>
    <img src = 'tutorialpics/searchabreed.png' width="800" height="600">
</div> 
<p style = 'text-align: center;' >
    Look up the dog bread on wikipedia.<br>
    Copy the name of the subpage form the url<br>
    Paste the name into the searchbar located towards the top of the page<br>
    Hit the button Labeled "Go" and read up on your doggies<br>
</p>
