<form method="post" action="/add_ReportFines">
        <fieldset>
            <legend>Add ReportFine</legend>
            <label for="ReportID">Report Number:</label>
            <input type="text" name="ReportID" placeholder="required">
            <br>
            <label for="FineID">Fine ID:</label>
            <input type="text" name="FineID" placeholder="required">
            <br>
            <input type="submit" value="add ReportFine">
        </fieldset>
    </form>
    <br>