<form method="post" action="/add_Officers">
        <fieldset>
            <legend>Add Officer</legend>
            <label for="name">Badge Number:</label>
            <input type="text" name="BadgeNumber" placeholder="required">
            <br>
            <label for="Fname">First Name:</label>
            <input type="text" name="Fname" placeholder="required">
            <br>
            <label for="Lname">Last Name:</label>
            <input type="text" name="Lname" placeholder="required">
            <br>
            <label for="YearsOfService">Years of Service:</label>
            <input type="number" name="YearsOfService" placeholder="required">
            <br>
            <label for="Email">Email:</label>
            <input type="text" name="Email" placeholder="required">
            <br>
            <label for="Phone">Phone:</label>
            <input type="text" name="Phone" placeholder="required">
            <br>
            <input type="submit" value="add Officer">
        </fieldset>
    </form>
    <br>