<form method="post" action="/add_Fines">
        <fieldset>
            <legend>Add Fine</legend>
            <label for="Name">Name:</label>
            <input type="text" name="Name" placeholder="required">
            <br>
            <label for="Amount">Amount:</label>
            <input type="number" name="Amounts" placeholder="required">
            <br>
            <label for="Points">Points:</label>
            <input type="number" name="Points" placeholder="required">
            <br>
            <input type="submit" value="add Criminal">
        </fieldset>
    </form>
    <br>