<form method="post" action="/add_Criminals">
        <fieldset>
            <legend>Add Criminal</legend>
            <label for="Fname">First Name:</label>
            <input type="text" name="Fname" placeholder="required">
            <br>
            <label for="Lname">Last Name:</label>
            <input type="text" name="Lname" placeholder="required">
            <br>
            <label for="DoB">Date of Birth:</label>
            <input type="Date" name="DoB" placeholder="required">
            <br>
            <label for="NumberOfCrimes">NumberOfCrimes:</label>
            <input type="text" name="NumberOfCrimes" placeholder="required">
            <br>
            <input type="submit" value="add Criminal">
        </fieldset>
    </form>
    <br>