<form method="post" action="/add_Reports">
        <fieldset>
            <legend>Add Report</legend>
            <label for="CriminalID">Criminal ID:</label>
            <input type="number" name="CriminalID" placeholder="required">
            <br>
            <label for="BadgeNumber">Badge Number:</label>
            <input type="number" name="BadgeNumber" placeholder="required">
            <br>
            <label for="Date">Date:</label>
            <input type="Date" name="Date" placeholder="required">
            <br>
            <label for="Time">Time:</label>
            <input type="Time" name="Time" placeholder="required">
            <br>
            <input type="submit" value="add Report">
        </fieldset>
    </form>
    <br>